.catalogos-bg {
  width: 100%;
  min-height: 95vh;
  background: #ededed;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogos-list {
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalogo-card {
  border-radius: 16px;
  padding: 22px 0 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 220px; */
}

.catalogo-title {
  color: #888;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1.9%;
  text-align: center;
}

.catalogo-img {
  width: 220px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 3%;
}

.catalogo-link {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.catalogo-btn {
  background: #e30613;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 38px;
  cursor: pointer;
  margin-bottom: 6px;
  transition: background 0.2s;
}

.catalogo-btn:hover {
  background: #b8000a;
}

@media (max-width: 600px) {
  .catalogos-list {
    max-width: 98vw;
    gap: 10px;
  }
  .catalogo-card {
    min-height: 160px;
    padding: 14px 0 10px 0;
  }
  .catalogo-btn {
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 6px;
  }
}
